@use '@angular/material' as mat;

:host {
  position: relative;
  display: block;
  width: 100%;
  min-width: 200px;
  color: var(--light-color);
  background-color: #021933;
}

.header-container {

}

.header-images {
  position: absolute;
  z-index: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;

  .header-img {
    width: 600px;
    height: 160px;
    /*background-image: url(assets/images/wave.png);*/
    background-image: url("/assets/images/wave.png");
    background-repeat: no-repeat;
    background-size: cover;

    &_recover {
      transform: rotateY(180deg);
    }
  }
}

.header-content {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 200px 0 260px;
  gap: 60px;

  .header-title {
    font-weight: 700;
    width: 100%;
  }

  .header-logo {
    padding: 4px 0;
  }
}

.header-contacts {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  gap: 10px;

  a {
    text-decoration: none;
    color: var(--light-color);
  }
}

.header-menu {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 4px;

  @include mat.button-overrides((
    text-label-text-color: var(--light-color),
    text-hover-state-layer-opacity: 0,
    text-focus-state-layer-opacity: 0,
    text-pressed-state-layer-opacity: 0,
    filled-ripple-color: 0,
    outlined-ripple-color: 0,
    text-ripple-color: 0,
  ))
}

/*.mat-mdc-button:not(:disabled) {
  color: var(--light-color);
}
.mat-mdc-button:hover .mat-mdc-button-persistent-ripple::before {
  opacity: 1;
}*/
