<div class="schedule-page__header">
  <span>Факультет</span>
  <input type="text" value="оибас" />
  <span>Курс</span>
  <input type="number" value="2" />
  <span>Группа</span>
  <input type="number" value="212" />
  <span>Дата</span>
  <input type="week" />
</div>
<table class="schedule-page__content">
  <thead>
    <tr>
      <th [ngStyle]="{ width: '140px', backgroundColor: '#88FFA2' }">Время</th>
      <th>
        Понедельник <br />
        16.12.2024
      </th>
      <th>
        Вторник <br />
        17.12.2024
      </th>
      <th>
        Среда <br />
        18.12.2024
      </th>
      <th>
        Четверг <br />
        19.12.2024
      </th>
      <th>
        Пятница <br />
        20.12.2024
      </th>
      <th>
        Суббота <br />
        21.12.2024
      </th>
      <th>
        Воскресенье <br />
        22.12.2024
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td [ngStyle]="{backgroundColor: '#88FFA2' }">8:00 - 9:35</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td [ngStyle]="{backgroundColor: '#88FFA2' }">9:45 - 11:20</td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <div class="schedule-page__cell"><span class="schedule-page__cell-text">математика</span></div>
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td [ngStyle]="{backgroundColor: '#88FFA2' }">11:50 - 13:25</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td [ngStyle]="{backgroundColor: '#88FFA2' }">13:35 - 15:10</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td [ngStyle]="{backgroundColor: '#88FFA2' }">15:40 - 17:15</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td [ngStyle]="{backgroundColor: '#88FFA2' }">17:25 - 19:00</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td [ngStyle]="{backgroundColor: '#88FFA2' }">19:05 - 20:40</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
