@use '@angular/material' as mat;

:root {
  --dark-color: #000000;
  --dark-active-color: #161616;
  --light-color: #FFFFFF;
  --primary-color: #AE7AFF;
  --gray-color: #5F646D;
  --dark-hover-color: #161616;
  --light-transparent-color: rgba(255, 255, 255, 0.75);
  --message-color: #404040;

  --text-color: #1c1c1c;

  --light-border: 1px solid var(--light-color);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100dvh;
  margin: 0;
  color: var(--text-color);
  background: var(--light-color);
}

.logo {
  width: 160px;
  height: 160px;
}

